{{ csrf_input() }}
<div class="row">
    <div class="col-md-5">
        {{ field('name', item.name, "Titre de l'article") }}
    </div>
    <div class="col-md-5">
        {{ field('category_id', item.categoryId, "Catégorie", {options: categories}) }}
    </div>
    <div class="col-md-2">
        {{ field('published', item.published, "En ligne ?", {type: 'checkbox'}) }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ field('slug', item.slug, "Url de l'article") }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{ field('image', item.image, "Image", {type: 'file'}) }}
    </div>
    <div class="col-md-6">
        {% if item.image %}
            <img src="{{ item.thumb }}" style="width: 100%;">
        {% endif %}
    </div>
</div>
{{ field('content', item.content, "Contenu de l'article", {type: 'textarea'}) }}
{{ field('created_at', item.createdAt, "Date de création", {class: 'datepicker'}) }}