{% extends '@admin/layout.twig' %}

{% block body %}

    <h1>Ajouter un utilisateur</h1>

    <form action="{{ path('account.signup') }}" method="post">
        {{ csrf_input() }}
        <div class="row">
            <div class="col-md-6">
                {{ field('username', user.username, "Nom d'utilisateur") }}
            </div>
            <div class="col-md-6">
                {{ field('email', user.email, "Email", {type: 'email'}) }}
            </div>
        </div>

        {{ field('password', null, "Mot de passe", {type: 'password'}) }}
        {{ field('password_confirm', null, "Confirmer le mot de passe", {type: 'password'}) }}

    </form>

{% endblock %}