<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Bienvenue sur le site Claude-Alban, développeur web ">
    <meta name="author" content="capetrel">
    <meta name="copyright" content="capetrel">
    <meta name="identifier-Url" content="capetrel.xyz">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('img/favicons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('img/favicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('img/favicons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('img/favicons/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ asset('img/favicons/safari-pinned-tab.svg') }}" color="#5bbad5">

    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/open-iconic-bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/flatpickr.min.css') }}">
    <link rel="stylesheet" href="{{ asset('js/trumbowyg/ui/trumbowyg.min.css') }}">

    <title>{% block title "Monsite" %}</title>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('admin') }}">Administration</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-link">
                <a class="nav-item" href="/" target="_blank">Voir le site</a>
            </li>
            {{ admin_menu() }}
        </ul>
        <div class="navbar-nav">
        {% if current_user() %}
            <div class="navbar-text">{{ current_user().username }} est connecté&nbsp;&nbsp;</div>
            <form class="nav-item" method="post" action="{{ path('auth.logout') }}">
                {{ csrf_input() }}
                <button class="btn btn-secondary">Se déconnecter</button>
            </form>
        {% else %}
            <li class="nav-item active">
                <a class="nav-link btn btn-secondary" href="{{ path('auth.login') }}">Se connecter</a>
            </li>
        {% endif %}
        </div>
    </div>
</nav>

<main role="main" class="container">

    {% if flash('success') %}
        <div class="alert alert-success">
            {{ flash('success') }}
        </div>
    {% endif %}

    {% if flash('error') %}
        <div class="alert alert-danger">
            {{ flash('error') }}
        </div>
    {% endif %}

    {% block body %}{% endblock %}

</main>

<script type="text/javascript" src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/flatpickr.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/trumbowyg/trumbowyg.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/trumbowyg/langs/fr.min.js') }}"></script>
<script>
    flatpickr('.datepicker', {
        enableTime: true,
        altInput: true,
        altFormat: 'j F Y, H:i',
        dateFormat: 'Y-m-d H:i:S'
    });

    flatpickr('.cv-datepicker', {
        enableTime: true,
        altInput: true,
        altFormat: 'j F Y',
        dateFormat: 'Y-m-d H:i:S'
    });
    $(document).ready(function(){
        $('#content').trumbowyg({
            btns: [
                ['viewHTML'],
                ['undo', 'redo'], // Only supported in Blink browsers
                ['formatting'],
                ['strong', 'em', 'del'],
                ['superscript', 'subscript'],
                ['link'],
                ['insertImage'],
                ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                ['unorderedList', 'orderedList'],
                ['horizontalRule'],
                ['removeformat'],
                ['fullscreen']
            ],
            autogrow: true,
            lang: 'fr'
        });
    })
</script>
</body>
</html>