<li class="nav-item dropdown {{ is_subpath('portfolio.admin.index') or is_subpath('portfolio.types.admin.index') ? 'active' }}">
    <a class="nav-link dropdown-toggle" href="#" id="dropdownP" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Portfolio</a>
    <div class="dropdown-menu" aria-labelledby="dropdownP">
        <a class="dropdown-item {{ is_subpath('portfolio.admin.index') ? 'active' }}" href="{{ path('portfolio.admin.index') }}">Portfolio</a>
        <a class="dropdown-item {{ is_subpath('portfolio.types.admin.index') ? 'active' }}" href="{{ path('portfolio.types.admin.index') }}">Type</a>
    </div>
</li>