{% extends 'layout.twig' %}

{% block body %}

    <h1>{{ studentSkills[0].cName }}</h1>
    {% for skill in studentSkills  %}
        <p>
            <strong>{{ skill.endedAt }} : </strong>{{ skill.skillName }} <br>
            {{ skill.description }} - {{ skill.place }}
        </p>
    {% endfor %}

    <h1>{{ devSkills[0].cName }}</h1>
    <div class="dev-list">
    {% for skill in devSkills  %}
        {% if skill.picto %}
            <div class="logo-box">
                <img class="dev-logo" src="{{ asset('uploads/skills/logos/' ~ skill.picto) }}" alt="logo {{ skill.skillName }}">
                <div class="rating">
                    <span class="rating-static rating-{{ skill.skillLevel }}"></span>
                </div>
            </div>
        {% else %}
            <div class="logo-box">
                    {{ skill.skillName }}
                <div class="rating">
                    <span class="rating-static rating-{{ skill.skillLevel }}"></span>
                </div>
            </div>

        {% endif %}

    {% endfor %}
    </div>

    <h1>{{ cv.cvName }}</h1>
    <address>
        {{ user.firstName }} {{ user.lastName }}<br>
        {{ user.address }}<br>
        {{ user.email }}<br>
        {{ user.tel1 }}<br>
        {{ user.driverLicence }}
    </address>

    <h1>{{ proSkills[0].cName }}</h1>
    {% for skill in proSkills  %}
        <p>
            <strong>{{ skill.startedAt }} - {{ skill.endedAt }} : </strong>{{ skill.skillName }} <br>
            {{ skill.description }} - {{ skill.place }}.
        </p>

    {% endfor %}


{% endblock %}