{% extends 'layout.twig' %}

{% block body %}

    <h1>Nous contacter</h1>

    <form action="{{ path('contact') }}" method="post">
        {{ csrf_input() }}
        {{ field('name', null, 'Votre nom') }}
        {{ field('email', null, 'Votre email') }}
        {{ field('message', null, 'Votre message', {type: 'textarea'}) }}
        <button class="btn btn-primary right">Envoyer</button>
    </form>

{% endblock %}