{% extends 'layout.twig' %}

{% block body %}

    <h1>Tableau à message</h1>

    <div class="board-container">
        <form class="blackboard" action="{{ path('contact') }}" method="post">
            {{ csrf_input() }}
            {{ field('name', null, 'Votre nom') }}
            {{ field('email', null, 'Votre email') }}
            {{ field('message', null, 'Votre message', {type: 'textarea'}) }}
            <button class="btn btn-primary right">Envoyer</button>
        </form>
    </div>

    <h1>{{page.title}}</h1>

        {{ page.content|raw }}

{% endblock %}